.home-page {
  background-color: #f2f7ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .title-bar-wrapper {
  background-color: var(--main-color-palettef2f7ff);
  width: 4321px;
  height: 2958px;
}

.home-page .title-bar {
  position: relative;
  height: 253px;
  background-color: #f2f7ff;
  box-shadow: 0px 4px 100px #00000040;
}

.home-page .post-square {
  position: absolute;
  width: 571px;
  height: 148px;
  top: 52px;
  left: 0;
  object-fit: cover;
}

.home-page .overlap-group {
  position: absolute;
  width: 2052px;
  height: 111px;
  top: 98px;
  left: 2120px;
}

.home-page .text-wrapper {
  position: absolute;
  width: 577px;
  top: 0;
  left: 0;
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #2b2b2b;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div {
  position: absolute;
  width: 607px;
  top: 0;
  left: 406px;
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #2b2b2b;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-2 {
  position: absolute;
  width: 607px;
  top: 0;
  left: 872px;
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #2b2b2b;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-3 {
  position: absolute;
  width: 631px;
  top: 0;
  left: 1421px;
  font-family: "Tahoma-Bold", Helvetica;
  font-weight: 700;
  color: #2b2b2b;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
