{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>livro</title>
  </head>
  <body>
    <div class="home-page">
      <div class="title-bar-wrapper">
        <div class="title-bar">
          <img class="post-square" src="{% static 'img/logo.png' %}" />
          <div class="overlap-group">
            <div class="text-wrapper">Home</div>
            <div class="div">About Us</div>
            <div class="text-wrapper-2">Contact</div>
            <div class="text-wrapper-3">Login | Sign up</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>